.section-3{
    padding: 60px 0;
}
.works-title{
    h1{
        font-family: $LatoB;
        font-size: em(30);
        color: $Black-3;
        margin-bottom: 20px;
    }
    p{
        font-family: $LatoL;
        font-size: em(20);
        color: $Black-3;
        margin-bottom: 60px;
    }
}
.botton-wrapper{
    h1{
        text-transform: uppercase;
        padding: 20px;
        background: $Red;
        border-radius: 10px;
        font-family: $LatoB;
        font-size: em(12);
        color: $White;
        cursor: pointer;
        letter-spacing: 4px;
        margin-right: 10px;
        &.black-active{
            background: $Black-4 !important;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
}

.portfolio-box{
    img{
        margin-bottom: 10px;
        transition: all .3s linear;
        opacity: 0.5;
        &:hover{
            transform: scale(1.2,1.2);
            opacity: 1;
            border-radius: 50px;
            cursor: pointer;
        }
        // margin-right: 10px;
    }
}