@font-face {
    font-family: 'ReklameScriptRegular_DEMO';
    src: url('../fonts/reklamescript/ReklameScriptRegular_DEMO.eot');
    src: url('../fonts/reklamescript/ReklameScriptRegular_DEMO.eot') format('embedded-opentype'),
         url('../fonts/reklamescript/ReklameScriptRegular_DEMO.woff2') format('woff2'),
         url('../fonts/reklamescript/ReklameScriptRegular_DEMO.woff') format('woff'),
         url('../fonts/reklamescript/ReklameScriptRegular_DEMO.ttf') format('truetype'),
         url('../fonts/reklamescript/ReklameScriptRegular_DEMO.svg#ReklameScriptRegular_DEMO') format('svg');
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/latoregular/LatoRegular.eot');
    src: url('../fonts/latoregular/LatoRegular.eot') format('embedded-opentype'),
         url('../fonts/latoregular/LatoRegular.woff2') format('woff2'),
         url('../fonts/latoregular/LatoRegular.woff') format('woff'),
         url('../fonts/latoregular/LatoRegular.ttf') format('truetype'),
         url('../fonts/latoregular/LatoRegular.svg#LatoRegular') format('svg');
}

@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/latoblack/LatoBlack.eot');
    src: url('../fonts/latoblack/LatoBlack.eot') format('embedded-opentype'),
         url('../fonts/latoblack/LatoBlack.woff2') format('woff2'),
         url('../fonts/latoblack/LatoBlack.woff') format('woff'),
         url('../fonts/latoblack/LatoBlack.ttf') format('truetype'),
         url('../fonts/latoblack/LatoBlack.svg#LatoBlack') format('svg');
}
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/latolight/LatoLight.eot');
    src: url('../fonts/latolight/LatoLight.eot') format('embedded-opentype'),
         url('../fonts/latolight/LatoLight.woff2') format('woff2'),
         url('../fonts/latolight/LatoLight.woff') format('woff'),
         url('../fonts/latolight/LatoLight.ttf') format('truetype'),
         url('../fonts/latolight/LatoLight.svg#LatoLight') format('svg');
}
