// FONTS
$ReklameS:'ReklameScriptRegular_DEMO';
$LatoR:'LatoRegular';
$LatoB:'LatoBlack';
$LatoL:'LatoLight';


// COLORS
$Black:  #000000;
$Black-1:#262626;
$Black-2:#2a2a2a;
$Black-3:#616161;
$Black-4:#595959;
$Black-5:#313131;
$White:  #ffffff;
$White-1:#d9d9d9;
$White-2:#f8f8f8;
$Red:    #ff6760;
$Red-2:  #d35051;

$Yellow-5:#f3b25b;
$Lblue:   #5883c0;
$Skyblue: #63bee0;
$Pink:    #e9a0c4;